.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--background-color-card);
  padding: 1rem;
  border-radius: 15px;
  transition: all 0.2s ease;
  cursor: pointer;

  height: 300px;
}

.card:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow:
    0.5rem 0.5rem 0 var(--primary-accent),
    0.5rem 0.5rem 0 2px #000;
}

.info {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 1rem;
  font-family: "Bruno Ace";
}

.info .price {
  color: var(--primary-accent);
}

.imageContainer {
  /* width: 400px; */
  height: 200px;
  border-bottom: 1px solid white;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 700px) {
  .imageContainer {
    max-width: 40rem;
    max-height: 30rem;
  }
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-accent);
  color: black;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
